<div class="form_container">
    <form [formGroup]="loginForm">
        <header>Signin</header>
        <label>
            Email<span>*</span>       
           
          </label>
          <input type="text" formControlName="email" class="form-control">
          <div *ngIf=email.pending>Checking the emailid's existense...</div>
          
          <div *ngIf="email.touched && email.invalid"> 
            <div *ngIf="email.hasError('required')">  
                <span class="error-msg">Please enter the email id</span>
            </div> 
    
            <div *ngIf="email.hasError('pattern')" >  
            <span class="error-msg">Enter the valid email id (ex: username12@gmail.com)</span>
            </div>
            
            <div *ngIf="email.errors.uniqueEmailId">  
                <span class="error-msg">EmailId exists</span>
            </div> 
        </div>
    
       <br/>
        <label>
          Password<span>*</span>
         
        </label>
        <input type="text" formControlName="password" >
        
        <div *ngIf="password.invalid && password.touched"> 
            <div *ngIf="password.hasError('required')" >  
                <span class="error-msg">Please enter password.</span> 
            </div> 
    
            <div *ngIf="password.hasError('pattern')" >  
                <span class="error-msg">Enter the valid password</span>
            </div> 

            <div *ngIf="email.hasError('uniqueEmailId')" >  
                <span class="error-msg">Email already exists</span>
                </div> 
       </div>
        <br/>
       
      
        <button type="submit"  class="btn btn-lg btn-info" [disabled]="disableSignin" (click)="onSignin(loginForm.value)">Signin</button>
        <div class="buttonclass">
            <button type="submit"  class="btn btn-lg btn-info" [disabled]="disableSignUp" (click)="onSignUp(loginForm.value)">SignUp</button>
        </div>
    </form>
    </div>
    
    
    
     
    