<div class="form_container">
    <form [formGroup]="signUpForm"  >
        <header>SignUp</header>
        <label>
            Email<span>*</span>
            <input type="text" formControlName="email" >
          </label>
         
        
          <div *ngIf="email.touched && email.invalid"> 
            <div *ngIf="email.hasError('required')">  
                <span class="error-msg">Please enter the email id</span>
            </div> 
    
            <div *ngIf="email.hasError('pattern')" >  
            <span class="error-msg">Enter the valid email id (ex: username@domain.com)</span>
            </div> 
        </div>
    
       <br/>
        <label>
          Password<span>*</span>
          <input type="password" formControlName="password" id="password">
        </label>
        
        
        <div *ngIf="password.touched && password.dirty"> 
            <div *ngIf="password.hasError('required')" >  
                <span class="error-msg">Please enter password.</span> 
            </div> 
    
            <div *ngIf="password.hasError('pattern')" >  
                <span class="error-msg">Enter the valid password</span>
            </div> 
       </div>
        <br/>
        <label>
            Confirm Password<span>*</span>
            <input type="password" formControlName="confirmPassword" id="password">
          </label>
          
          
          <div *ngIf="confirmPassword.errors && confirmPassword.dirty"> 
              <div *ngIf="confirmPassword.hasError('required')" >  
                  <span class="error-msg">Please enter password.</span> 
              </div> 
      
              <div *ngIf="confirmPassword.hasError('pattern')" >  
                  <span class="error-msg">Enter the valid password</span>
              </div> 
         </div>
       
      
        <button type="submit"  class="btn btn-lg btn-info" [disabled]="!signUpForm.value" (click)="onSubmit()">Submit</button>
    </form>
       
    </div>
    
  
